<dialog class="login-dialog" id="list-item-dialog" aria-labelledby="list-item-title" aria-describedby="list-item-description">
  <div class="login">
    <button class="login-close" type="button" data-list-item-close aria-label="Close listing popup">&times;</button>
    <h2 class="login-title" id="list-item-title">List an item</h2>
    <p class="login-description" id="list-item-description">Listing items is coming soon. Get ready to give your clothes a second life on WearBack.</p>
  </div>
</dialog>
